section>h1{
	margin: 50px auto;
	margin-bottom: solid grey 2px;
	border-bottom-color: darkgray;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 80%;
	text-align: center;
	font-size: 2em;
	
}
section>table{
	width: 80%;
	margin: 0px auto;
	border-top-color: gray;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-color: gray;
	border-left-style: solid;
	border-left-width: 1px;
	border-bottom-color: darkgray;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-right-color: darkgray;
	border-right-style: solid;
	border-right-width: 5px;
}
section>table>tr>td{
	border-bottom-style: dotted;
	border-bottom-color: red;
	border-bottom-width: 1px;
}
section>table>tr>th{
	background-color: gray;
}
section>table>tr>th:nth-child(1), section>table>tr>th:nth-child(4){
	width: 15%;
}
section>table>tr>th:nth-child(3){
	width: 20%;
}
section>table>tr>td:nth-child(1), section>table>tr>td:nth-child(4){
	text-align: right;
}
section>table>tr>td:nth-child(3){
	text-align: center;
}
section>table>tr>td:nth-child(2n){
	background-color: pink;
}
section>p{
	text-align: center;
}
section>p>a{
	color: white;
	background-color: gray;
	text-decoration: none;
	margin:20px;
	width: 80px;
	height:50px;
	border:	50px;
	display: inline-block;
	border-top: darkgray solid 1px;
	border-left: darkgray solid 1px;
	border-right: darkgray solid 5px;
	border-bottom: darkgray solid 5px;
}